<!DOCTYPE html>
<html ng-app="myApp">
	<head>
	<title>Hacker Flights</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
	<script type="text/javascript" src="../js/library/angular-route.js"></script>
	<script type="text/javascript" src="../js/library/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/custom.css">
	<script src="../js/app.js"></script>
	<script src="../js/controller/controllers.js"></script>
	</head>
	<body>
			<div class="wrapper" ng-controller="redirect">				
				<div class="appName">
					<h1 id="title">hackerFlights</h1>
					<h5 id="subtitle">Cheapest available tickets for <a href="https://mlh.io/seasons/s2015/events">MLH</a> events</h5>
				</div>
				<div class="inputField">
						 <div class="col-lg-6">
						    <div class="input-group">
						      <input type="text" class="form-control" ng-model="airportLocation" placeholder="Bemidji, MN" required="required">
						      <span class="input-group-btn">
						        <button class="btn btn-default" ng-click="displayHackathons()">Go!</button>
						      </span>
						    </div><!-- /input-group -->
						  </div><!-- /.col-lg-6 -->
						</div><!-- /.row -->
				</div>
				
				<div ng-view></div>
	</body>
</html>